<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact The Founder</h2>
                <hr class="primary">
                <p>
                  Hello, I am Prabhaker Panditi.  I started Coaching Beacon with an aim to help people to realize joy and reach their potential.  I am a  Certified Life Coach and a Psychologist.  I have  20+ years of experience in  various leadership positions and have worked around the world,  including  Singapore, Middle East and Switzerland. In my role as a transformational leader, I regularly coach senior leaders, middle managers and teams.  I have developed a passion for life coaching once people I coached began to report that they are seeing extraordinary results, sometimes after a single session! Reach out to me by email or message me on LinekedIn for a free life coaching session. 

                </p>
            </div>
        
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.linkedin.com/in/prabhakerpanditi/">
            <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
       
    </div>
</section>
